<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>商品カテゴリー</h2>
    <ul>
        <% itemlist.forEach(function (value) { %>
            <li>
                <p class="itemname"><a href="/list/<%= value.item %>"><img src="<%= value.images.split(",")[0] %>"></a></p>
                <div class="itemprice-container">
                    <p class="itemprice"><%= value.price %>円</p>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>
