<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <table>
        <tr>
            <th>ID</th>
            <th>商品名</th>
            <th>金額</th>
            <th>商品ID</th>

    </table>
</body>
</html>
