<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h2>商品カテゴリー</h2>
        <ul>
            <% itemlist.forEach(function (value) { %>
                <a href="">
                    <li>
                    <div class="img"><img src="https://placekitten.com/200/200" alt="cat"></div>
                    <p class="itemname"><%= value.item %></p>
                    <div class="itemprice-container">
                        <p class="itemprice"><%= value.price %></p><span>円</span>
                    </div>
                    </li>
                </a>
            <% }); %>
        </ul>
    </body>
</html>
