<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h2>M&NSHOP</h2>
        <ul>
            <% itemlist.forEach(function (value) { %>
                <li class="item"><a href="/list/<%= value.item %>">
                    <p class="itemname"><%= value.item %> </p>
                    <div class="itemimage"><img src="<%= value.images.split(",")[0] %>"></div>
                    <p>ALL<%= value.price.split(",")[0] %>円</p>
                    </a>
                </li>
                <% }); %>
        </ul>
    </body>
</html>
