<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>list</title>
    </head>
    <body>
        <table>
            <tr>
                <th>商品名</th>
                <th>金額</th>
            </tr>
                <tr>
                    <td><%= value.item %></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= value.itemprice %>
                    </td>
                </tr>
        </table>
        <td><a href="/edit/<%= value.id %>">更新</a></td>
        <button onclick="goToTop()" class="top-button">トップに戻る</button>
        <script>
            function goToTop() {
                location.href = "/";
            }
        </script>
    </body>
</html>
