<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
    <table>
        <% itemlist.forEach(function (item) { %>
        <tr>
            <td><%= item.itemdeta %></td>
        </tr>
        <tr>
            <td>
                <% item.images.forEach(function (image) { %>
                    <img src="/images/<%= image %>">
                <% }); %>
            </td>
        </tr>
        <% }); %>
    </table>
    <a href="/">トップに戻る</a>
</body>
</html>
