@charset "UTF-8";
body {
  padding: 5% 10%;
  margin: 0 auto;
  color: #333;
  background-color: #eedae5;
}

ul {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  opacity: 0.5;
}
h2 {
  text-align: center;
  margin-bottom: 100px;
}

img {
  display: block;
  width: 100%;
}

.item {
  width: 25%;
  text-align: center;
  margin-bottom: 100px;

}

.itemname {
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
